@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.marketing {
  margin-top: -7.5rem;
}

.card_component {
  background: rgba(255, 255, 255, 0.5);
  /* Arkaplanı transparan yapar */
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  /* Arkaplanı blurlu yapar */
  border-radius: 10px;
  /* Kenarları yuvarlar */
  padding: 20px;
  /* İçeriği ortalar */
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* Box shadow ekler */
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.success-button {
  background: #4c6b5b;
  color: #ffffff;
  padding: 10px 2rem;
  border: 0;
  border-radius: 30px;
  width: 90%;
  text-transform: uppercase;
}

.success-button-last {
  background: #b3331d;
  color: #ffffff;
  padding: 10px 2rem;
  border: 0;
  border-radius: 30px;
  width: 100%;
  text-transform: uppercase;
}

.green_title {
  color: #4c6b5b;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.green_title-last {
  color: #ffffff;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.green_content {
  color: #4c6b5b;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 2rem;
}

.green_content-last {
  color: #e0e0e0;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 2rem;
  text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.5), 8px -2px 4px rgba(0, 0, 0, 0.5);
  /* Text shadow ekler */
}

.featurette {
  margin-top: 5rem;
}

.lets-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.lets-box .lets-img {
  max-width: 220px;
}

.custom-card {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* Box shadow ekler */
  padding: 30px;
  border-radius: 30px;
  background: #f1f7f6;
}

.custom-card-2 {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* Box shadow ekler */
  padding: 30px;
  border-radius: 30px;
  background: #cd6969;
}

.custom-card-2 .green_title {
  color: #ffffff;
  margin-bottom: 1rem;
  margin-top: 0;
}

.custom-card-2 .green_content {
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 22px;
}

.custom-card-2 .white-button {
  background: white;
  color: #cd6969;
  padding: 10px 4rem;
  border: 0;
  border-radius: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.img-box img {
  border-radius: 30px;
}

.custom-last-card {
  background-image: url(../img/risk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

@media screen and (max-width: 992px) {
  .marketing {
    margin-top: -2rem;
  }
  .chatbot-img {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */